<div
  class="editable-field group"
  ...attributes
  {{did-insert this.captureElement}}
>
  {{#if (and this.editing (not @loading))}}
    <div {{on "keydown" this.preventNewlines}} {{on "keyup" this.cancel}}>
      {{yield (hash value=@value update=this.update) to="editing"}}
    </div>
  {{else}}
    <div class="relative w-full">
      <button
        class="field-toggle {{if @loading 'loading'}}"
        disabled={{or @disabled @loading}}
        {{on "click" this.edit}}
      >
        <div class="w-full grid overflow-hidden">

        {{yield}}
        </div>
      </button>
      <div class="hidden XXXXXXX_group-hover:block absolute -right-1.5 top-px">
        <FlightIcon
          @name="edit"
          class="text-color-foreground-faint pointer-events-none"
        />
      </div>
    </div>
  {{/if}}
</div>
