{{#unless this.isHidden}}
  {{#let (or @name @email) as |name|}}
    <div class="flex space-x-2 w-full items-center" ...attributes>
      <div
        class="w-5 h-5 shrink-0 overflow-hidden rounded-full flex justify-center items-center bg-[color:var(--token-color-palette-alpha-300)]"
      >
        {{#if @imgURL}}
          <img src={{@imgURL}} referrerpolicy="no-referrer" class="w-full" />
        {{else}}
          <div
            class="hds-foreground-high-contrast hds-typography-body-100 flex"
          >
            {{#if name}}
              <span class="capitalize">
                {{get-first-letter name}}
              </span>
            {{else}}
              <FlightIcon @name="user" class="scale-90" />
            {{/if}}
          </div>
        {{/if}}
      </div>
      <div class="flex overflow-hidden">
        {{#if @isLoading}}
          Loading name...
        {{else}}
          <div
            data-test-person-primary-text
            class="shrink-0 mr-1"
            title={{optional this.primaryText}}
          >
            {{or this.primaryText "Unknown"}}
          </div>
          {{#unless this.secondaryTextIsHidden}}
            <div
              data-test-person-secondary-text
              class="truncate opacity-70"
              title={{@email}}
            >
              {{or @email}}
            </div>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  {{/let}}

{{/unless}}
